---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import BasicScripts from "../scripts/BasicScripts.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";

const resRank = await fetch("https://tryhackme.com/api/user/rank/jeanchpt");
const resRankBody = await resRank.json();
const thmRank = Object.values(resRankBody)[0];

const resRooms = await fetch(
  "https://tryhackme.com/api/no-completed-rooms-public/jeanchpt"
);
const numRooms = await resRooms.json();

const resBadges = await fetch("https://tryhackme.com/api/badges/get/jeanchpt");
const thmBadges = await resBadges.json();
const numBadges = Object.keys(thmBadges).length;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="bg-zinc-200 dark:bg-zinc-900">
    <Header title={SITE_TITLE} />
    <BasicScripts />
    <main class="bg-zinc-200 dark:bg-zinc-900 min-h-screen">
      <section class="container my-10 mx-auto px-3">
        <h2 class="text-2xl font-bold leading-tight mb-4 dark:text-white">
          TryHackMe
        </h2>
        <div class="container mx-auto">
          <div
            class="bg-white rounded-lg shadow-lg p-5 dark:bg-zinc-800 dark:text-white mb-4"
          >
            <p class="text-lg text-justify font-normal leading-normal mb-3">
              I started TryHackMe in March 2023 so I am pretty new on the platform. I enjoy this platform because of the huge amount of lessons which cover a variety of topics. You can check out my <a class="text-blue-500" href="https://tryhackme.com/p/jeanchpt" target="_blank" rel="noopener noreferrer">profile</a> or just a sum-up of my stats below !
            </p>
          </div>
          <div class="grid grid-cols-3">
            <div class="text-center mx-auto text-2xl text-blue-500 font-bold">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="64"
                height="64"
                fill="currentColor"
                class="bi bi-award my-3 inline-block"
                viewBox="0 0 16 16"
              >
                <path
                  d="M9.669.864 8 0 6.331.864l-1.858.282-.842 1.68-1.337 1.32L2.6 6l-.306 1.854 1.337 1.32.842 1.68 1.858.282L8 12l1.669-.864 1.858-.282.842-1.68 1.337-1.32L13.4 6l.306-1.854-1.337-1.32-.842-1.68L9.669.864zm1.196 1.193.684 1.365 1.086 1.072L12.387 6l.248 1.506-1.086 1.072-.684 1.365-1.51.229L8 10.874l-1.355-.702-1.51-.229-.684-1.365-1.086-1.072L3.614 6l-.25-1.506 1.087-1.072.684-1.365 1.51-.229L8 1.126l1.356.702 1.509.229z"
                ></path>
                <path
                  d="M4 11.794V16l4-1 4 1v-4.206l-2.018.306L8 13.126 6.018 12.1 4 11.794z"
                ></path>
              </svg>
              <p class="text-white">Rank</p>
              {thmRank}
            </div>
            <div class="text-center mx-auto text-2xl text-blue-500 font-bold">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="64"
                height="64"
                fill="currentColor"
                class="bi bi-door-open-fill my-3 inline-block"
                viewBox="0 0 16 16"
              >
                <path
                  d="M1.5 15a.5.5 0 0 0 0 1h13a.5.5 0 0 0 0-1H13V2.5A1.5 1.5 0 0 0 11.5 1H11V.5a.5.5 0 0 0-.57-.495l-7 1A.5.5 0 0 0 3 1.5V15H1.5zM11 2h.5a.5.5 0 0 1 .5.5V15h-1V2zm-2.5 8c-.276 0-.5-.448-.5-1s.224-1 .5-1 .5.448.5 1-.224 1-.5 1z"
                ></path>
              </svg>
              <p class="text-white">Rooms</p>
              {numRooms}
            </div>
            <div class="text-center mx-auto text-2xl text-blue-500 font-bold">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="64"
                height="64"
                fill="currentColor"
                class="bi bi-bullseye my-3 inline-block"
                viewBox="0 0 16 16"
              >
                <path
                  d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"
                ></path>
                <path
                  d="M8 13A5 5 0 1 1 8 3a5 5 0 0 1 0 10zm0 1A6 6 0 1 0 8 2a6 6 0 0 0 0 12z"
                ></path>
                <path
                  d="M8 11a3 3 0 1 1 0-6 3 3 0 0 1 0 6zm0 1a4 4 0 1 0 0-8 4 4 0 0 0 0 8z"
                ></path>
                <path d="M9.5 8a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"></path>
              </svg>
              <p class="text-white">Badges</p>
              {numBadges}
            </div>
          </div>
        </div>
      </section>
      <section class="container my-10 mx-auto px-3">
        <h2 class="text-2xl font-bold leading-tight mb-4 dark:text-white">
          RootMe
        </h2>
        <div class="container mx-auto">
          <div
            class="bg-white rounded-lg shadow-lg p-5 dark:bg-zinc-800 dark:text-white"
          >
            <p class="text-lg text-justify font-normal leading-normal mb-3">
              RootMe is a really nice platform when it comes to training. The challenges are less guided than on TryHackMe so you have to think by yourself and to read the documentation. Here is the link to my <a class="text-blue-500" href="https://www.root-me.org/Jean-715368?lang=en#4f4c9ff6830f90de64f4047666e716ae" target="_blank" rel="noopener noreferrer">profile</a>.
            </p>
          </div>
        </div>
      </section>
    </main>
    <Footer />
  </body>
</html>
